/*Maak hier jouw CSS!*/

* {
    padding: 0;
    margin: 0;
    background-color: #FDEFDB;
    color: #FFF;
}

.grid-container {
    padding: 10px;
    background-color: hsl(32, 100%, 93%);
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto repeat(5, 50px);
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "."
        "f";
}

.grid-container > div {
    background-color: hsl(355, 52%, 48%);
    border: 2px solid hsl(355, 52%, 38%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-a {
    grid-area: a;
}

#grid-b {
    grid-area: b;
}

#grid-c {
    grid-area: c;
}

#grid-d {
    grid-area: d;
}

#grid-e {
    grid-area: e;
}

#grid-f {
    grid-area: f;
}

@media screen and (min-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-template-areas:
                "a c c"
                "b c c"
                "b e d"
                "b e ."
                "f f f";
    }
}